# UE5 核心排除项
/Binaries
/Intermediate
/Saved
/DerivedDataCache
Build


# 插件缓存
/Plugins/*/Binaries
/Plugins/*/Intermediate

# 临时文件
*.log
*.opendb

#CPP相关
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DotSettings